{% extends "layout.html" %}
{% block body %}
<div class="container header">
  <div class="row">
    {{user.name}} Profile
  </div>
</div>
<div class="container profileBox">
  <div class="row">
    <div class="col-md-6">
      <img class="profile" src="/images/slide4.png" alt="" /><br>
      <button class="btn btn-primary" type="submit" name="follow">Follow</button>
    </div>
    <div class="col-md-6">
      {{user.username}}<br>
      Followers: {{follower.count}} | Following: {{followee.count}} <br>
      Tweets: {{tweets.count}}
    </div>
  </div>
</div>
<div class="container tweetBox pre-scrollable">
  <div class="row">
    <ul>
      {% for tweet in tweetcontent %}
      <div class="well">
        <li class="tweet">
          <p class="userDate">
          {{user.username}} | {{tweet.tweet_date_time.strftime('%b-%d-%Y')}}<br>
          <br>
        </p>
        <p class="tweetContent">
          {{tweet.tweet_content}}<br>
          <br>
        </p>
        <p class="likes">
          Likes: {{tweet.likes}} | Retweets: {{tweet.retweet_num}}<br>
        </p>
        </li>
      </div>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
