{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <div class="message">
      {{message}}
    </div>
    <div class="row">
      <form action="/users/{{session['username']}}/settings/update" method="post">
        {% for picture in profile_pictures %}
        <div class="col-sm-4">
        <label for="profile_picture"><img src="/static/images/{{picture}}.png" alt=""></label><br>
        <input type="radio" name="profile_picture" value="{{picture}}"> Select<br>
        </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Save</button>
      </form>
    </div>
  </div>
{% endblock %}
